In [1]:
import pandas as pd
train = pd.read_csv('../ais_train.csv', sep='|')
test = pd.read_csv('../ais_test.csv', sep='|')
sample = pd.read_csv('../ais_sample_submission.csv', sep='|')

In [3]:
display(train.head())
train.shape

,time,cog,sog,rot,heading,navstat,etaRaw,latitude,longitude,vesselId,portId
0,2024-01-01 00:00:25,284.0,0.7,0,88,0,01-09 23:00,-34.74370,-57.85130,61e9f3a8b937134a3c4bfdf7,61d371c43aeaecc07011a37f
1,2024-01-01 00:00:36,109.6,0.0,-6,347,1,12-29 20:00,8.89440,-79.47939,61e9f3d4b937134a3c4bff1f,634c4de270937fc01c3a7689
2,2024-01-01 00:01:45,111.0,11.0,0,112,0,01-02 09:00,39.19065,-76.47567,61e9f436b937134a3c4c0131,61d3847bb7b7526e1adf3d19
3,2024-01-01 00:03:11,96.4,0.0,0,142,1,12-31 20:00,-34.41189,151.02067,61e9f3b4b937134a3c4bfe77,61d36f770a1807568ff9a126
4,2024-01-01 00:03:51,214.0,19.7,0,215,0,01-25 12:00,35.88379,-5.91636,61e9f41bb937134a3c4c0087,634c4de270937fc01c3a74f3

(1522065, 11)

In [2]:
print(train)

                        time    cog   sog  rot  heading  navstat       etaRaw  \
0        2024-01-01 00:00:25  284.0   0.7    0       88        0  01-09 23:00
1        2024-01-01 00:00:36  109.6   0.0   -6      347        1  12-29 20:00
2        2024-01-01 00:01:45  111.0  11.0    0      112        0  01-02 09:00
3        2024-01-01 00:03:11   96.4   0.0    0      142        1  12-31 20:00
4        2024-01-01 00:03:51  214.0  19.7    0      215        0  01-25 12:00
...                      ...    ...   ...  ...      ...      ...          ...
1522060  2024-05-07 23:59:07  359.1  13.4    0        1        0  05-08 05:00
1522061  2024-05-07 23:59:08   12.3  17.1    0       13        0  05-10 03:00
1522062  2024-05-07 23:59:08  269.8  14.9   -1      270        0  05-15 23:00
1522063  2024-05-07 23:59:08    8.0  18.7    0        6        0  05-08 12:45
1522064  2024-05-07 23:59:08  336.0  14.3    5      337        0  05-07 23:00

         latitude  longitude                   vesselId  \
0       -34.74370  -57.85130   61e9f3a8b937134a3c4bfdf7
1         8.89440  -79.47939   61e9f3d4b937134a3c4bff1f
2        39.19065  -76.47567   61e9f436b937134a3c4c0131
3       -34.41189  151.02067   61e9f3b4b937134a3c4bfe77
4        35.88379   -5.91636   61e9f41bb937134a3c4c0087
...           ...        ...                        ...
1522060  52.19131   -5.82223  clh6aqawa0002gh0zypfa5dut
1522061  38.96142  -12.00502   61e9f3aeb937134a3c4bfe43
1522062  49.71372   -5.22042   61e9f43db937134a3c4c0169
1522063  38.27895   10.78280   61e9f469b937134a3c4c029b
1522064  38.98635  -75.13275   62080cff66fc0a8e43c6123a

                           portId
0        61d371c43aeaecc07011a37f
1        634c4de270937fc01c3a7689
2        61d3847bb7b7526e1adf3d19
3        61d36f770a1807568ff9a126
4        634c4de270937fc01c3a74f3
...                           ...
1522060  634c4de270937fc01c3a7417
1522061  634c4de270937fc01c3a76a1
1522062  634c4de270937fc01c3a787b
1522063  61d3781293c6feb83e5eb73b
1522064  61d38528b7b7526e1adf3e6f

[1522065 rows x 11 columns]

In [4]:
display(test.head())
test.shape

                     ID,vesselId,time,scaling_factor
0  0,61e9f3aeb937134a3c4bfe3d,2024-05-08 00:03:16...
1  1,61e9f473b937134a3c4c02df,2024-05-08 00:06:17...
2  2,61e9f469b937134a3c4c029b,2024-05-08 00:10:02...
3  3,61e9f45bb937134a3c4c0221,2024-05-08 00:10:34...
4  4,61e9f38eb937134a3c4bfd8d,2024-05-08 00:12:27...

(51739, 1)

In [7]:
print(test)

                         ID,vesselId,time,scaling_factor
0      0,61e9f3aeb937134a3c4bfe3d,2024-05-08 00:03:16...
1      1,61e9f473b937134a3c4c02df,2024-05-08 00:06:17...
2      2,61e9f469b937134a3c4c029b,2024-05-08 00:10:02...
3      3,61e9f45bb937134a3c4c0221,2024-05-08 00:10:34...
4      4,61e9f38eb937134a3c4bfd8d,2024-05-08 00:12:27...
...                                                  ...
51734  51734,61e9f3a8b937134a3c4bfdf3,2024-05-12 23:5...
51735  51735,61e9f3b4b937134a3c4bfe77,2024-05-12 23:5...
51736  51736,61e9f46cb937134a3c4c02b7,2024-05-12 23:5...
51737  51737,61e9f465b937134a3c4c0269,2024-05-12 23:5...
51738  51738,61e9f3adb937134a3c4bfe39,2024-05-12 23:5...

[51739 rows x 1 columns]

In [5]:
display(sample.head())
print(sample.shape)

  ID,longitude_predicted,latitude_predicted
0                                 0,0.0,0.0
1                                 1,0.0,0.0
2                                 2,0.0,0.0
3                                 3,0.0,0.0
4                                 4,0.0,0.0

(51739, 1)

In [6]:
print(sample)

      ID,longitude_predicted,latitude_predicted
0                                     0,0.0,0.0
1                                     1,0.0,0.0
2                                     2,0.0,0.0
3                                     3,0.0,0.0
4                                     4,0.0,0.0
...                                         ...
51734                             51734,0.0,0.0
51735                             51735,0.0,0.0
51736                             51736,0.0,0.0
51737                             51737,0.0,0.0
51738                             51738,0.0,0.0

[51739 rows x 1 columns]