In [4]:
import pandas as pd
train = pd.read_csv('../ais_train.csv', sep='|')
test = pd.read_csv('../ais_test.csv', sep='|')
sample = pd.read_csv('../ais_sample_submission.csv', sep='|')

In [10]:
display(train.head())
train.shape

,time,cog,sog,rot,heading,navstat,etaRaw,latitude,longitude,vesselId,portId
0,2024-01-01 00:00:25,284.0,0.7,0,88,0,01-09 23:00,-34.74370,-57.85130,61e9f3a8b937134a3c4bfdf7,61d371c43aeaecc07011a37f
1,2024-01-01 00:00:36,109.6,0.0,-6,347,1,12-29 20:00,8.89440,-79.47939,61e9f3d4b937134a3c4bff1f,634c4de270937fc01c3a7689
2,2024-01-01 00:01:45,111.0,11.0,0,112,0,01-02 09:00,39.19065,-76.47567,61e9f436b937134a3c4c0131,61d3847bb7b7526e1adf3d19
3,2024-01-01 00:03:11,96.4,0.0,0,142,1,12-31 20:00,-34.41189,151.02067,61e9f3b4b937134a3c4bfe77,61d36f770a1807568ff9a126
4,2024-01-01 00:03:51,214.0,19.7,0,215,0,01-25 12:00,35.88379,-5.91636,61e9f41bb937134a3c4c0087,634c4de270937fc01c3a74f3

(1522065, 11)

In [9]:
display(test.head())
test.shape

   ID                  vesselId                 time  scaling_factor
0   0  61e9f3aeb937134a3c4bfe3d  2024-05-08 00:03:16             0.3
1   1  61e9f473b937134a3c4c02df  2024-05-08 00:06:17             0.3
2   2  61e9f469b937134a3c4c029b  2024-05-08 00:10:02             0.3
3   3  61e9f45bb937134a3c4c0221  2024-05-08 00:10:34             0.3
4   4  61e9f38eb937134a3c4bfd8d  2024-05-08 00:12:27             0.3

(51739, 4)

In [8]:
display(sample.head())
print(sample.shape)

   ID  longitude_predicted  latitude_predicted
0   0                  0.0                 0.0
1   1                  0.0                 0.0
2   2                  0.0                 0.0
3   3                  0.0                 0.0
4   4                  0.0                 0.0

(51739, 3)